<div class="row standalone-row align-items-center no-gutters">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 row-text wow fadeInLeft" data-wow-delay="300ms">
{#        <p class="subheading">Most flexible one page</p>#}
        <h2 class="heading">{{ section.room }}</h2>
        <p class="text m-auto ">{{ section.description }}</p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 row-image hover-effect  wow fadeInRight" data-wow-delay="300ms">
        <img src="{{  '/uploads/' ~ section.filename }}" alt="image">
        <div class="standaloneoverlay overlayBottom"></div>
    </div>
</div>

