<div class="col-md-3">
    <div class="card mb-4 o-hidden"><img class="card-img-top" src="{{ asset('/uploads/' ~ picture.filename) }}" alt="property picture">
        <div class="card-footer">
            <a class="card-link" href="{{ path('app_slider_add',{id: picture.id}) }}">Add to slider</a>
        </div>
    </div>
</div>