<!-- Gallery Section Start -->
<section class="gallery-section" id="gallery">
    <div class=" text-center gallery-carousel owl-carousel owl-themes active">
        {% for property in properties %}
        <div class="item">
{#            check item active class#}
            <img src="{{ asset('/uploads/' ~ property.pictures.first.filename) }}" alt="gallery-img" style="height: 844px;">
            <div class="container">
                <div class="detail-box">
                    <div class="text-box wow fadeIn" data-wow-delay="400ms">
                        <p class="subheading"><span></span>{{ settings.landingTitle }}</p>
                        <h2 class="heading">{{ property.title }} <br/>  </h2>
                        {% set rawtext = property.description|raw %}
                        {% set text = rawtext|length > 500 ? rawtext|slice(0, 500) ~ '...' : rawtext %}
                        <p class="text">{{ text|raw }}</p>
                        <div class="button-center">
                            <a class="btn button btn-rounded green-btn btn-hvr-blue scroll"  href="#contact">
                                Book Room Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
    <!-- Carousel End -->
    <div class="icons d-flex ">
        <i class="lni lni-chevron-left customPrevBtn"></i>
        <i class="lni lni-chevron-right customNextBtn"></i>
    </div>
</section>
<!-- Gallery Section End -->