<!-- Gallery Section Start -->
<section class="gallery-section" id="gallery">
    <div class=" text-center gallery-carousel owl-carousel owl-themes active">
        {% for picture in settings.landingSliderPicture %}
        <div class="item">
{#            check item active class#}
            <img src="{{ asset('/uploads/' ~ picture.filename) }}" alt="gallery-img" style="height: 844px;">
            <div class="container">
                <div class="detail-box">
                    <div class="text-box wow fadeIn" data-wow-delay="400ms">
                        <p class="subheading"><span></span>Beautiful Room</p>
                        <h2 class="heading">A beautiful luxuries <br> Hotel Room in centre of new York</h2>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere nisi est, sed ullamcorper nibh volutpat at. In rutrum, metus ut posuere gravida, tellus lacus faucibus lectus, sed cursus eros ligula non odio. Suspendisse volutpat sagittis sapien. Curabitur quis malesuada ipsum.</p>
                        <div class="button-center">
                            <a class="btn button btn-rounded green-btn btn-hvr-blue scroll"  href="#contact">
                                Book Room Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
    <!-- Carousel End -->
    <div class="icons d-flex ">
        <i class="lni lni-chevron-left customPrevBtn"></i>
        <i class="lni lni-chevron-right customNextBtn"></i>
    </div>
</section>
<!-- Gallery Section End -->